# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Approve Functional Tests

on:
  pull_request:
    branches:
      - main
      - features/*
      - release/*

permissions: {} # disable permissions

jobs:
  approve-functional-tests-run:
    name: Approve Functional Tests
    runs-on: ubuntu-24.04
    environment: functional-tests
    permissions:
      checks: write
    steps:
      - name: Checkout Radius repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Save PR number
        uses: ./.github/actions/save-pr-as-artifact
