# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Issue Metrics

on:
  schedule:
    # Run weekly on Monday at 8:00 AM UTC
    - cron: 0 8 * * 1
    # Run monthly on the 1st at 8:00 AM UTC
    - cron: 0 8 1 * *
  push:
    branches:
      - dp/issue-metrics
  workflow_dispatch: # Allow manual triggering
    inputs:
      report_type:
        description: Type of report to generate
        required: false
        type: choice
        default: weekly
        options:
          - weekly
          - monthly

permissions:
  contents: read

jobs:
  issue-metrics:
    name: Issue Metrics
    runs-on: ubuntu-24.04
    permissions:
      issues: read
      pull-requests: read
    steps:
      - name: Configure
        id: config
        run: |
          # Calculate dates
          last_week=$(date -d '7 days ago' '+%Y-%m-%d')
          first_day=$(date -d 'last month' '+%Y-%m-01')
          last_day=$(date -d "$first_day +1 month -1 day" '+%Y-%m-%d')
          last_month="${first_day}..${last_day}"

          # Determine type
          TYPE="weekly" # Default
          if [[ "$EVENT_NAME" == "schedule" ]]; then
            if [[ "$SCHEDULE" == "0 8 1 * *" ]]; then
              TYPE="monthly"
            fi
          elif [[ "$EVENT_NAME" == "workflow_dispatch" ]]; then
            TYPE="$INPUT_REPORT_TYPE"
          fi

          # Set query
          if [[ "$TYPE" == "weekly" ]]; then
            echo "search_query=repo:${REPOSITORY} is:issue is:pr created:>${last_week}" >> "$GITHUB_OUTPUT"
          else
            echo "search_query=repo:${REPOSITORY} is:issue is:pr created:${last_month}" >> "$GITHUB_OUTPUT"
          fi
        env:
          REPOSITORY: radius-project/radius # ${{ github.repository }}
          EVENT_NAME: ${{ github.event_name }}
          SCHEDULE: ${{ github.event_name == 'schedule' && github.event.schedule || '' }}
          INPUT_REPORT_TYPE: ${{ github.event_name == 'workflow_dispatch' &&  github.event.inputs.report_type || '' }}

      - name: Run Tool
        uses: github/issue-metrics@637a24e71b78bc10881e61972b19ea9ff736e14a # v3.25.2
        env:
          GH_TOKEN: ${{ github.token }}
          SEARCH_QUERY: ${{ steps.config.outputs.search_query }}

      - name: Upload Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: issue-metrics
          path: ./issue_metrics.md
          retention-days: 30

      - name: Job Summary
        run: |
          cat ./issue_metrics.md >> "$GITHUB_STEP_SUMMARY"
